/ *! V7.0.0 normalize.css | Licencia MIT | github.com/necolas/normalize.css * /

/ * Documento
   ================================================== ======================== * /

/ **
 * 1. Corregir la altura de la línea en todos los navegadores.
 * 2. Evitar que los ajustes de tamaño de la fuente después de los cambios de orientación en
 * IE en Windows Phone y iOS.
 * /

html {
  line-height: 1,15; / * * 1 /
  -ms-texto de tamaño-ajuste: 100%; / * 2 * /
  -webkit-texto de tamaño-ajustar: 100%; / * 2 * /
}

/ * Secciones
   ================================================== ======================== * /

/ **
 * Eliminar el margen en todos los navegadores (dogmático).
 * /

cuerpo {
  margin: 0;
}

/ **
 * Añadir la correcta visualización en Internet Explorer 9.
 * /

artículo,
aparte,
pie de página,
encabezamiento,
NAV,
sección {
  bloqueo de pantalla;
}

/ **
 * Corregir el tamaño de la fuente y el margen de `` elementos h1` dentro y section`
 * `contextos article` en Chrome, Firefox y Safari.
 * /

h1 {
  font-size: 2em;
  margen: 0.67em 0;
}

/ * Agrupación de contenido
   ================================================== ======================== * /

/ **
 * Añadir la correcta visualización en Internet Explorer 9.
 * 1. Añadir la correcta visualización en el IE.
 * /

figcaption,
figura,
principal {/ * * 1 /
  bloqueo de pantalla;
}

/ **
 * Añadir el margen correcto en el IE 8.
 * /

figura {
  margen: 1 em 40px;
}

/ **
 * 1. Añadir la casilla correcta de tamaño en Firefox.
 * 2. Mostrar el desbordamiento en el borde y el IE.
 * /

h {
  cuadro-dimensionamiento: contenido de la caja; / * * 1 /
  altura: 0; / * * 1 /
  overflow: visible; / * 2 * /
}

/ **
 * 1. Corregir la herencia y la escala de tamaño de fuente en todos los navegadores.
 * 2. corregir la extraña `apresto de la fuente em` en todos los navegadores.
 * /

pre {
  font-family: monospace, espacio sencillo; / * * 1 /
  font-size: 1 em; / * 2 * /
}

/ * La semántica a nivel de texto
   ================================================== ======================== * /

/ **
 * 1. Quitar el fondo gris en los enlaces activos en IE 10.
 * 2. Retire las lagunas en los enlaces subrayan en IOS 8 + 8 + y Safari.
 * /

un {
  background-color: transparente; / * * 1 /
  -webkit-text-decoration-skip: objetos; / * 2 * /
}

/ **
 * 1. Quitar el borde inferior en Chrome y Firefox 57- 39-.
 * 2. Añadir la decoración de texto correcto en Chrome, Borde, IE, Opera y Safari.
 * /

abbr [title] {
  border-bottom: ninguno; / * * 1 /
  text-decoration: underline; / * 2 * /
  text-decoration: underline de puntos; / * 2 * /
}

/ **
 * Evitar que la aplicación duplicado de `bolder` por la siguiente regla de Safari 6.
 * /

segundo,
fuerte {
  font-weight: heredar;
}

/ **
 * Añadir el peso de la fuente correcta en Chrome, Edge, y Safari.
 * /

segundo,
fuerte {
  font-weight: más audaz;
}

/ **
 * 1. Corregir la herencia y la escala de tamaño de fuente en todos los navegadores.
 * 2. corregir la extraña `apresto de la fuente em` en todos los navegadores.
 * /

código,
kbd,
samp {
  font-family: monospace, espacio sencillo; / * * 1 /
  font-size: 1 em; / * 2 * /
}

/ **
 * Añadir el estilo de fuente correcto en Android 4.3-.
 * /

DFN {
  font-style: cursiva;
}

/ **
 * Añadir el fondo y el color correcto en IE 9.
 * /

marca {
  background-color: # ff0;
  color: # 000;
}

/ **
 * Añadir el tamaño de la fuente correcta en todos los navegadores.
 * /

pequeña {
  font-size: 80%;
}

/ **
 * Evitar que `` sub` y elementos sup` afecten a la altura de la línea de
 * Todos los navegadores.
 * /

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: línea de base;
}

{sub
  parte inferior: -0.25em;
}

sup {
  superior: -0.5em;
}

/ * Contenido incrustado
   ================================================== ======================== * /

/ **
 * Añadir la correcta visualización en Internet Explorer 9.
 * /

audio,
{vídeo
  display: inline-block;
}

/ **
 * Añadir la correcta visualización en IOS 4-7.
 * /

audio: no ([Controles]) {
  display: none;
  altura: 0;
}

/ **
 * Quitar el borde de las imágenes dentro de enlaces en IE 10-.
 * /

img {
  Border-style: none;
}

/ **
 * Ocultar el desbordamiento en el IE.
 * /

SVG: no (: root) {
  overflow: hidden;
}

/ * Formas
   ================================================== ======================== * /

/ **
 * 1. Cambiar los estilos de fuente en todos los navegadores (dogmático).
 * 2. Retire el margen en Firefox y Safari.
 * /

botón,
entrada,
optgroup,
seleccionar,
textarea {
  font-family: sans-serif; / * * 1 /
  font-size: 100%; / * * 1 /
  line-height: 1,15; / * * 1 /
  margin: 0; / * 2 * /
}

/ **
 * Mostrar el desbordamiento en el IE.
 * 1. Mostrar el desbordamiento en el borde.
 * /

botón,
de entrada {/ * 1 * /
  overflow: visible;
}

/ **
 * Eliminación de la herencia de texto transformar en Edge, Firefox e IE.
 * 1. Retire la herencia de texto transformar en Firefox.
 * /

botón,
seleccione {/ * * 1 /
  text-transform: none;
}

/ **
 * 1. Evitar un error WebKit donde (2) destruye `` audio` nativo y video`
 * Controles en Android 4.
 * 2. Corregir la incapacidad de estilo de tipos se puede hacer clic en iOS y Safari.
 * /

botón,
html [type = "botón"], / * 1 * /
[Type = "reset"],
[Type = "submit"] {
  webkit-apariencia: botón; / * 2 * /
}

/ **
 * Quitar el borde interno y el relleno en Firefox.
 * /

:: botón - MOZ-enfoque interno,
[Type = "button"] :: - moz-enfoque interno,
[Type = "reset"] :: - moz-enfoque interno,
[Type = "submit"] :: - moz-enfoque-interior {
  Border-style: none;
  padding: 0;
}

/ **
 * Restaurar los estilos de enfoque no se ha establecido por la regla anterior.
 * /

Botón: -moz-focusring,
[Type = "botón"]: - focusring moz-,
[Type = "reset"]: - moz-focusring,
[Type = "submit"]: - moz-focusring {
  contorno: 1px punteado ButtonText;
}

/ **
 * Corregir el relleno en Firefox.
 * /

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/ **
 * 1. Corregir el ajuste de texto en el borde y el IE.
 * 2. Corregir la herencia del color del `fieldset` elementos en el IE.
 * 3. Retirar el relleno para que los desarrolladores no se enganchen a cabo cuando puesta a cero
 * `Fieldset` elementos en todos los navegadores.
 * /

{leyenda
  caja de tamaño: Frontera de la caja; / * * 1 /
  Color: heredar; / * 2 * /
  display: table; / * * 1 /
  max-width: 100%; / * * 1 /
  padding: 0; / * 3 * /
  de espacio en blanco: normal; / * * 1 /
}

/ **
 * 1. Añadir la correcta visualización en Internet Explorer 9.
 * 2. Añadir la alineación vertical correcta en Chrome, Firefox y Opera.
 * /

Progreso {
  display: inline-block; / * * 1 /
  vertical-align: línea de base; / * 2 * /
}

/ **
 * Retire la barra de desplazamiento vertical por defecto en IE.
 * /

textarea {
  overflow: auto;
}

/ **
 * 1. Añadir la casilla correcta dimensionamiento en IE 10-.
 * 2. Retire el relleno en IE 10-.
 * /

[Type = "casilla de verificación"],
[Type = "radio"] {
  caja de tamaño: Frontera de la caja; / * * 1 /
  padding: 0; / * 2 * /
}

/ **
 * Corregir el estilo del cursor de los botones de incremento y decremento en Chrome.
 * /

[Type = "número"] :: - webkit-interior-spin-botón,
[Type = "número"] :: - webkit-exterior-spin-botón {
  height: auto;
}

/ **
 * 1. Corregir el aspecto extraño en Chrome y Safari.
 * 2. Corregir el estilo de esquema en Safari.
 * /

[Type = "búsqueda"] {
  webkit-apariencia: campo de texto; / * * 1 /
  esbozar-offset: -2px; / * 2 * /
}

/ **
 * Retire el acolchado interior y cancelar los botones en Chrome y Safari en MacOS.
 * /

[Type = "búsqueda"] :: - webkit-search-cancel-botón,
[Type = "búsqueda"] :: - webkit-search-decoración {
  webkit-apariencia: ninguno;
}

/ **
 * 1. Corregir la incapacidad de estilo de tipos se puede hacer clic en iOS y Safari.
 * 2. Cambiar las propiedades de tipos de letra a `inherit` en Safari.
 * /

:: - webkit-file-upload-botón {
  webkit-apariencia: botón; / * * 1 /
  fuente: heredar; / * 2 * /
}

/ * Interactivo
   ================================================== ======================== * /

/ *
 * Añadir la correcta visualización en Internet Explorer 9.
 * 1. Añadir la correcta visualización de aristas, es decir, y Firefox.
 * /

detalles, / * * 1 /
menú {
  bloqueo de pantalla;
}

/ *
 * Añadir la correcta visualización en todos los navegadores.
 * /

resumen {
  display: list-item;
}

/ * Scripting
   ================================================== ======================== * /

/ **
 * Añadir la correcta visualización en Internet Explorer 9.
 * /

{lienzo
  display: inline-block;
}

/ **
 * Añadir la correcta visualización en el IE.
 * /

modelo {
  display: none;
}

/* Oculto
   ================================================== ======================== * /

/ **
 * Añadir la correcta visualización en Internet Explorer 10.
 * /

[oculto] {
  display: none;
}
