/ * Http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   Licencia: ninguno (dominio público)
* /

html, cuerpo, div, palmo, applet, objeto, iframe
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, sigla, dirección, grande, citar, código,
del, DFN, em, img, ins, kbd, q, s, samp,
pequeña, huelga, fuerte, sub, sup, tt, var,
b, u, i, centro,
dl, dt, dd, ol, ul, li,
fieldset, la forma, la etiqueta, leyenda,
mesa, subtítulo, tbody, tfoot, culata en T, TR, TH, TD,
artículo, a un lado, lona, ​​detalles, integrar,
figura, figcaption, pie de página, encabezado, hgroup,
menú, de navegación, de salida, rubí, sección, resumen,
tiempo, marca, audio, vídeo {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	fuente: heredar;
	vertical-align: línea de base;
}
/ * Restablecimiento de la pantalla en funciones de HTML5 para navegadores antiguos * /
artículo, a un lado, detalles, figcaption, figura,
pie de página, encabezado, hgroup, menú, nav, la sección {
	bloqueo de pantalla;
}
cuerpo {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	Cotizaciones: ninguna;
}
blockquote: antes, blockquote: después,
q: antes, q: tras {
	contenido: '';
	contenido: ninguna;
}
mesa {
	border-collapse: colapso;
	espaciado de borde: 0;
}
